body {
  font-family: sans-serif;
}
ul{
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  border-radius: 10px;
  background-color: black;
}
ul li {
  list-style-type: none;
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
}

ul li a {
color: white;
}

img {
  image-orientation: from-image;
}
