body {
font-family: sans-serif;
background-image: url('../images/alina.JPG');
background-size: 600px 800px;
}
h1{
	padding:1px;
	backgroung-color: green;
	color: purple;
	border-radius: 10px;
}
h2{
	padding:1px;
	backgroung-color: green;
	color: orange;
	border-radius: 10px;
}
ul li {
	padding: 10px;
	border-radius: 30px;
	background-color: black;
	border-color: green;
	list-style-type: none;
	display: inline;
	margin-right: 10px;
	margin-left: 10px;
}
ul li a {
	color: white;
	text-decoration: none;
	ul li a: hover {
		color: #99DDFF
		text-decoration:underline;
}
